<launch>
    <rosparam file="$(find tutorial_service_providor)/params/publish_waypoints_params.yaml" />


    <node
    name = "converter"
    pkg = "tutorial_service_providor"
    type = "convert_stamped_tf.py"
    output="screen" />
    <node 
    name="waypoint_node"
    pkg = "tutorial_service_providor"
    type = "publish_map_waypoints.py"
    output = "screen"/>
</launch>